/* @import url("./_active/input-error_active.css"); */

.input-error__text {
  width: calc(100% - 72px);
  opacity: 0;
  color: #f00;
  font-style:normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
  padding-top: 0;
  transition: opacity .3s ease-in;
}