.modal__exit-btn {
  position: absolute;
  top: -35px;
  left: 425px;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  background: transparent;
  background-image: url("../../../images/add-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__exit-btn:hover {
  opacity: .3;
  cursor: pointer;
}

@media (max-width: 720px) {
  .modal__exit-btn {
    left: 245px;
    transform: rotate(45deg);
  }
}