@import url("./__container/header__container.css");
@import url("./__logo/header__logo.css");

.header {
  max-width: 882px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

@media (max-width: 960px) {
  .header {
    max-width: 582px;
    overflow: hidden;
  }
}

@media (max-width: 720px) {
  .header {
    max-width: 320px;
  }
}