.profile-info__subtitle {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
}

@media (max-width: 720px) {
  .profile-info__subtitle {
    font-size: 14px;
    line-height: 17px;
    padding: 0;
  }
}