.profile__add-button {
  background: transparent;
  background-image: url("../../../images/add-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  padding: 14px 64px;
}

.profile__add-button:hover {
  opacity: .5;
}

@media (max-width: 960px) {
  .profile__add-button {
    width: 100px;
    padding: 15px;
  }
}

@media (max-width: 720px) {
  .profile__add-button {
    width: 282px;
    padding: 17px 132px;
  }
}