@import url("./__form-container/modal__form-container.css");
@import url("./__exit-btn/modal__exit-btn.css");
@import url("./__header/modal__header.css");
@import url("./__form/modal__form.css");
@import url("./__input/modal__input.css");
@import url("./__form-submit/modal__form-submit.css");

/* @keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
} */

.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* display: none;  */
  left: 0px;
  top: 0px;
 
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.modal::before{
  content: "";
  height: 100%;
  width: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}

.modal_active {
  display: block;

  visibility:visible;
  opacity:1;
  transition-delay:0s;
}