.profile-info__edit-icon {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 7px;
}

@media (max-width: 720px) {
  .profile-info__edit-icon {
    width: 18px;
    height: 18px;
    padding: 5.25px;
  }
}