@import url("../vendor/normalize.css");
@import url("../vendor/fonts/inter.css");
@import url("../blocks/root/root.css");
@import url("../blocks/header/header.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile-info/profile-info.css");
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/footer/footer.css");



.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: none; 
  left: 0px;
  top: 0px;
}
.modal::before{
  content: "";
  height: 100%;
  width: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}

.display-modal {
  display: block;
}

.modal__exit-btn {
  position: fixed;
  transform: translate(230px, -35px) rotate(45deg);
  width: 40px;
  height: 40px;
  background: transparent;
  background-image: url("../images/add-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__exit-btn:hover {
  opacity: .3;
  cursor: pointer;
}

@media (max-width: 720px) {
  .modal__exit-btn {
    transform: translate(175px, -35px) rotate(45deg);
  }
}

.modal__form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 720px) {
  .modal__form-container {
    width: 320px;
  }
}


.modal__header {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  display: inline-block;
  width: calc(100% - 72px);
  height: 23px;
  margin: 34px 0 54px 0;
}

.modal__form {
  width: calc(100% - 72px);
  display: flex;
  flex-direction: column;
}

.modal__form-name, .modal__form-about {
  height: 27px;
  border-style: none;
  margin-bottom: 29px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  box-sizing: border-box;
}

.modal__form-submit {
  margin-top: 19px;
  height: 50px;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border-style: none;
  border-radius: 2px;
}

.modal__form-button:hover {
  opacity: .8;
  cursor: pointer;
}
